{% load staticfiles %}
<html>

    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="buttons-index">
            <div class="shop">
                <a class="btn btn-default" href="{% url 'item_list' %}">SHOP</a>
            </div>
            <div class="blog">
                <a class="btn btn-default" href="{% url 'post_list' %}">BLOG</a>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="logged-user">
                <a href="{% url 'accounts:logout_view' %}">Welcome, {{ user.username }}! Logout</a>
            </div>
        {% else %}
            <div class="logged-user">
                <a href="{% url 'accounts:login_view' %}">Login</a>
                <a href="{% url 'accounts:signup' %}">Signup</a>
            </div>
        {% endif %}
    </body>
</html>
